## NLP Techniques

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('IMDB Dataset.csv')

In [3]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df.shape

(50000, 2)

## LowerCasing

In [5]:
df['review'] = df['review'].str.lower()

In [6]:
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Remove the Html Tags

In [7]:
import re

In [8]:
def Remove_html(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [9]:
text = "hello <br/>"

In [10]:
Remove_html(text)

'hello '

In [11]:
df['review'] = df['review'].apply(Remove_html)

In [12]:
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Remove Urls

In [13]:
Url1 = " Check out https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox";
url2 = "";

In [14]:
def Remove_url(link):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', link)

In [15]:
Remove_url(Url1)

' Check out '

## Remove Punctuations

In [16]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
exclude = string.punctuation

In [18]:
def remove_punctuation(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [19]:
text = "Aw its awesome!"

In [20]:
remove_punctuation(text)

'Aw its awesome'

In [21]:
df['review'] = df['review'].apply(remove_punctuation)

## Spelling Corrections

In [22]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (0.18.0.post0)
Requirement already satisfied: nltk>=3.8 in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk>=3.8->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk>=3.8->textblob) (2023.8.8)
Requirement already satisfied: tqdm in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk>=3.8->textblob) (4.66.1)
Requirement already satisfied: colorama in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.6)

WARNING: Error parsing dependencies of matplotlib: [Errno 2] No such file or directory: 'c:\\users\\91906\\anaconda3\\envs\\opencv\\lib\\site-packages\\matplotlib-3.7.1.dist-info\\METADATA'

In [23]:
from textblob import TextBlob

In [24]:
incorrect = "ceertainly i found a girl"

textblob = TextBlob(incorrect)

textblob.correct().string

'certainly i found a girl'

## Remove StopWords

In [25]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk) (2023.8.8)
Requirement already satisfied: tqdm in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\91906\anaconda3\envs\opencv\lib\site-packages (from click->nltk) (0.4.6)

WARNING: Error parsing dependencies of matplotlib: [Errno 2] No such file or directory: 'c:\\users\\91906\\anaconda3\\envs\\opencv\\lib\\site-packages\\matplotlib-3.7.1.dist-info\\METADATA'

In [26]:
from nltk.corpus import stopwords

In [27]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [28]:
def remove_stopwords(text):
    new_text = []
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [29]:
tc = "i dont want to be fool"

In [30]:
remove_stopwords(tc)

' dont want   fool'

## Tokenization

In [31]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [33]:
sent1 = "i am a good boy"
word_tokenize(sent1)

['i', 'am', 'a', 'good', 'boy']