In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'Text':['people watch netflix','netflix watch netflix','people write comment','netflix write comment'],'Output':[1,1,0,0]})

In [3]:
df

                    Text  Output
0   people watch netflix       1
1  netflix watch netflix       1
2   people write comment       0
3  netflix write comment       0

In [12]:
df

                    Text  Output
0   people watch netflix       1
1  netflix watch netflix       1
2   people write comment       0
3  netflix write comment       0

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

## Bag Of Words Technique(uni-gram) technique

In [5]:
cv = CountVectorizer()

In [6]:
bow = cv.fit_transform(df['Text'])

In [7]:
cv.vocabulary_

{'people': 2, 'watch': 3, 'netflix': 1, 'write': 4, 'comment': 0}

In [9]:
print(bow[0].toarray())
print(bow[1].toarray())

[[0 1 1 1 0]]
[[0 2 0 1 0]]

## N Grams Technique(bi-grams,tri-grams,n-grams)

In [16]:
cv2 = CountVectorizer(ngram_range=(2,2))

In [17]:
bow2 = cv2.fit_transform(df['Text'])

In [18]:
cv2.vocabulary_

{'people watch': 2,
 'watch netflix': 4,
 'netflix watch': 0,
 'people write': 3,
 'write comment': 5,
 'netflix write': 1}